h1{
    text-align-last: center;
}
.navbar a{
    background-color: lightcoral;
    color: black;
    text-decoration: none;
    
    text-align: center;
}
.navbar a:hover
{
    background-color: rgb(68, 229, 19);
}