h1{
    text-align: center;
    background-color:palevioletred;
    color: antiquewhite;
}
.navbar a{
    color: black;
    text-decoration: none;
    text-align: center;
}
.navbar a:hover
{
    color: rgb(136, 110, 162);
}
th{
    width:19%;

}
td{
    text-align: center;
    font-size: large;
    font-weight: 500;
}
div{
    text-align: center;
}